<div class="flex">
    <mat-card *ngFor="let product of products" class="card">
        <mat-card-header class="title center">
            <p>{{product.title}}</p>
        </mat-card-header>
        <img src="https://media.ldlc.com/r1600/ld/products/00/05/92/88/LD0005928897_1_0005947205.jpg" mat-card-image
            class="image" />
        <mat-card-content class="content">
            <p class="text-center">
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions class="center">
            <p class="title no-margin">{{product.price}}€</p>
            <button class="info-button" mat-raised-button color="primary">
                Plus d'info
            </button>
        </mat-card-actions>
    </mat-card>
</div>